In [1]:
import pygal
import pandas as pd
import streamlit as st
from datetime import datetime

In [2]:
# Definindo a data mínima e máxima
data_minima = pd.to_datetime('2024-05-01')
data_maxima = pd.to_datetime('2024-05-23')

    
# Adicionar seletor de períodos na coluna à esquerda
start_date_ = st.sidebar.date_input("Data de início", data_minima, min_value = data_minima, max_value = data_maxima, format="YYYY-MM-DD") #"DD-MM-YYYY"

end_date_ = st.sidebar.date_input("Data de término", data_maxima, min_value = data_minima, max_value = data_maxima, format="YYYY-MM-DD") #+ pd.DateOffset(days=1) #"DD-MM-YYYY"

start_date = start_date_.strftime('%Y-%m-%d') #'%d-%m-%Y'
end_date = end_date_.strftime('%Y-%m-%d')

periodo = end_date_ - start_date_

# Periodo anteior para gráficos com comparações
start_date_b4 = start_date_ - pd.DateOffset(days = periodo.days)

end_date_b4 = end_date_ - pd.DateOffset(days = periodo.days)

2024-06-10 15:05:09.355
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run C:\Users\aliss\AppData\Roaming\Python\Python312\site-packages\ipykernel_launcher.py [ARGUMENTS]

In [3]:
import csv

def encontrar_frase_em_csv_meta(nome_arquivo, frase_procurada):
    try:
        with open(nome_arquivo, 'r', newline='', encoding='utf-16') as arquivo_csv:
            leitor_csv = csv.reader(arquivo_csv)
            
            for numero_linha, linha in enumerate(leitor_csv, start=1):
                if frase_procurada in linha:
                    return numero_linha

        # Se a frase não for encontrada em nenhuma linha
        return -1

    except FileNotFoundError:
        print(f'O arquivo {nome_arquivo} não foi encontrado.')
        return -1

In [5]:


dados_FB_alcance = pd.read_csv('tabelas/meta/Alcance.csv',encoding='utf-16')

In [6]:
dados_FB_alcance

                     sep= Unnamed: 1
0     Alcance no Facebook        NaN
1                    Data    Primary
2     2022-01-01T00:00:00          0
3     2022-01-02T00:00:00          0
4     2022-01-03T00:00:00          0
...                   ...        ...
1781  2024-06-05T00:00:00     232986
1782  2024-06-06T00:00:00     201435
1783  2024-06-07T00:00:00     177421
1784  2024-06-08T00:00:00     188979
1785  2024-06-09T00:00:00     196234

[1786 rows x 2 columns]

In [7]:
# Função para tentar múltiplos formatos
def try_parsing_date(text):
    for fmt in ("%Y-%m-%dT%H:%M:%S.%fZ", "%Y-%m-%d %H:%M:%S"):
        try:
            return pd.to_datetime(text, format=fmt)
        except ValueError:
            continue
    return pd.NaT

In [8]:
dados_FB_alcance

                     sep= Unnamed: 1
0     Alcance no Facebook        NaN
1                    Data    Primary
2     2022-01-01T00:00:00          0
3     2022-01-02T00:00:00          0
4     2022-01-03T00:00:00          0
...                   ...        ...
1781  2024-06-05T00:00:00     232986
1782  2024-06-06T00:00:00     201435
1783  2024-06-07T00:00:00     177421
1784  2024-06-08T00:00:00     188979
1785  2024-06-09T00:00:00     196234

[1786 rows x 2 columns]

In [9]:
pd.to_datetime(dados_FB_alcance['Data'].max())

KeyError: 'Data'

In [10]:
data_maxima = pd.to_datetime('2023-10-16')

data_maxima

Timestamp('2023-10-16 00:00:00')

In [11]:
# dados_FB_alcance['Data'] = dados_FB_alcance['Data'].apply(try_parsing_date)
# dados_FB_alcance = dados_FB_alcance.dropna(subset=['Data'])

In [12]:
dados_FB_alcance

                     sep= Unnamed: 1
0     Alcance no Facebook        NaN
1                    Data    Primary
2     2022-01-01T00:00:00          0
3     2022-01-02T00:00:00          0
4     2022-01-03T00:00:00          0
...                   ...        ...
1781  2024-06-05T00:00:00     232986
1782  2024-06-06T00:00:00     201435
1783  2024-06-07T00:00:00     177421
1784  2024-06-08T00:00:00     188979
1785  2024-06-09T00:00:00     196234

[1786 rows x 2 columns]

In [16]:
# Recebendo dados de 01/01/2022 até o momento
# alcance FB: 28/05/2022
# alcance IG: 28/05/2022
# visitas FB: 28/05/2022
# visitas IG: 28/05/2022
# seguidores FB: 01/01/2022
# seguidores IG: 31/08/2023
def filtrosDatasFACEBOOK(dados_FB_alcance, start_date, end_date, start_date_b4, end_date_b4):
    dados_FB_alcance_FILTRADAS = dados_FB_alcance.copy()
    
    dados_FB_alcance_FILTRADAS = dados_FB_alcance_FILTRADAS.loc[(dados_FB_alcance_FILTRADAS['Data']>start_date) & (dados_FB_alcance_FILTRADAS['Data']<end_date)]
    
    dados_FB_alcance_ANTERIOR = dados_FB_alcance.copy()
    
    dados_FB_alcance_ANTERIOR = dados_FB_alcance_ANTERIOR.loc[(dados_FB_alcance_ANTERIOR['Data']>start_date_b4.strftime('%Y-%m-%d')) & (dados_FB_alcance_ANTERIOR['Data']<end_date_b4.strftime('%Y-%m-%d'))]
    
    return dados_FB_alcance_ANTERIOR,dados_FB_alcance_FILTRADAS

In [15]:
import pandas as pd
import plotly.graph_objects as go
dados_FB_alcance_ANTERIOR,dados_FB_alcance_FILTRADAS = filtrosDatasFACEBOOK(dados_FB_alcance, start_date, end_date, start_date_b4, end_date_b4)

# Supor que 'Data' é a coluna de datas e que estas estão no tipo datetime
dados_FB_alcance_FILTRADAS['Data'] = pd.to_datetime(dados_FB_alcance_FILTRADAS['Data'])
dados_FB_alcance_ANTERIOR['Data'] = pd.to_datetime(dados_FB_alcance_ANTERIOR['Data'])

# Manter as datas originais
dados_FB_alcance_FILTRADAS['Data_Original'] = dados_FB_alcance_FILTRADAS['Data']
dados_FB_alcance_ANTERIOR['Data_Original'] = dados_FB_alcance_ANTERIOR['Data']

# Calcular a diferença de dias entre o início dos dois períodos
delta = dados_FB_alcance_FILTRADAS['Data'].min() - dados_FB_alcance_ANTERIOR['Data'].min()

# Ajustar as datas do período anterior para sobrepor ao período atual
dados_FB_alcance_ANTERIOR['Data'] = dados_FB_alcance_ANTERIOR['Data'] + delta

# Criar a coluna de sequência de números
dados_FB_alcance_FILTRADAS['Dia'] = range(1, len(dados_FB_alcance_FILTRADAS) + 1)
dados_FB_alcance_ANTERIOR['Dia'] = range(1, len(dados_FB_alcance_ANTERIOR) + 1)

# Cria a figura
fig = go.Figure()
# start_date, end_date, start_date_b4.strftime('%Y-%m-%d'), end_date_b4.strftime('%Y-%m-%d'))
dt_inicial = start_date
# Adiciona a linha do período atual
fig.add_trace(go.Scatter(
    x=dados_FB_alcance_FILTRADAS['Dia'],
    y=dados_FB_alcance_FILTRADAS['Primary'],
    mode='lines+markers',
    name=f'Selecionado: {start_date} a {end_date}',
    text=dados_FB_alcance_FILTRADAS['Data_Original'].dt.strftime('%Y-%m-%d'),
    hovertemplate='<br>Data Original: %{text}<br>Valor: %{y}',
    line=dict(color='#2f55a4')
))

# Adiciona a linha do período anterior
fig.add_trace(go.Scatter(
    x=dados_FB_alcance_ANTERIOR['Dia'],
    y=dados_FB_alcance_ANTERIOR['Primary'],
    mode='lines+markers',
    name=f'Anterior: {start_date_b4.strftime('%d-%m-%Y')} a {end_date_b4.strftime('%d-%m-%Y')}',
    text=dados_FB_alcance_ANTERIOR['Data_Original'].dt.strftime('%d-%m-%Y'),
    hovertemplate='<br>Data Original: %{text}<br>Valor: %{y}',
    line=dict(color='#6184D1')
))

# Configura o layout
fig.update_layout(
    title='Alcance do FB - Comparação de Períodos',
    xaxis_title='Dias',
    yaxis_title='Alcance',
    hovermode='x unified',
    yaxis=dict(tickformat='.'),
    xaxis=dict(dtick=1)
)

# Mostra a figura
fig.show()

KeyError: 'Data'

In [ ]:
from graficos.Tribuna_do_Norte import tnImpresso

pd.to_datetime(tnImpresso.df_noticias_impresso['data'].max())

Timestamp('2024-06-05 21:24:19.309000')

In [28]:
final_seguidoresFB = encontrar_frase_em_csv_meta('tabelas/meta/Seguidores.csv', 'Seguidores no Instagram')

seguidoresFB = pd.read_csv('tabelas/meta/Seguidores.csv', skiprows=2, encoding='utf-16', nrows=final_seguidoresFB-5)

seguidoresFB

                    Data  Primary
0    2022-01-01T00:00:00       23
1    2022-01-02T00:00:00       27
2    2022-01-03T00:00:00       28
3    2022-01-04T00:00:00       31
4    2022-01-05T00:00:00       48
..                   ...      ...
886  2024-06-05T00:00:00        5
887  2024-06-06T00:00:00       15
888  2024-06-07T00:00:00        8
889  2024-06-08T00:00:00        8
890  2024-06-09T00:00:00        9

[891 rows x 2 columns]